.custom-shape-divider-bottom-1668161727 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1668161727 svg {
  position: relative;
  display: block;
  width: calc(133% + 1.3px);
  height: 181px;
}

.custom-shape-divider-bottom-1668161727 .shape-fill {
  fill: #FFFFFF;
}